<h2 mat-dialog-title>New Btn</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" formControlName="id">
    </mat-form-field>
    <br />

    <mat-form-field>
        <mat-label>Btn Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <br />

    <mat-form-field>
        <mat-label>Counter</mat-label>
        <input matInput formControlName="counter">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
