<h1 class="mat-display-3">Commands</h1>
<div class="list-grid">
  <ng-container *ngIf="!loading; else spinner">
    <ng-container *ngFor="let command of commandList">
      <mat-card class="mat-elevation-z5">
        <mat-card-title>{{command.name}}</mat-card-title>
        <mat-divider></mat-divider>
        <br />
        <mat-card-content>
          <mat-accordion class="command-args">
            <app-command-arg-panel *ngFor="let arg of command.args; let i = index" [command]="command" [arg]="arg" [index]="i" (onArgDeleted)="removeFromArgList($event)">
            </app-command-arg-panel>
          </mat-accordion>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">
            Edit
          </button>&nbsp;
          <button mat-raised-button color="accent" (click)="newArg(command.id)">
            Add Arg
          </button>&nbsp;
          <button mat-button color="warn" *ngIf="isAdmin()" (click)="delete(command.id)">
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </ng-container>

  <ng-template #spinner>
    <mat-card *ngFor="let i of arrayOfSize(list_count)" class="mat-elevation-z5">
      <mat-card-title>Loading...</mat-card-title>
      <mat-divider></mat-divider>
      <br />
      <mat-card-content>
        <mat-spinner></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">
          Edit
        </button>&nbsp;
        <button mat-raised-button color="accent">
          Add Arg
        </button>&nbsp;
        <button mat-button color="warn">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-template>




</div>
<button mat-fab color="primary" *ngIf="authenticated" class="new-btn" (click)="openDialog()">
  <i class="material-icons">note_add</i>
</button>
