<h1 class="mat-display-3">Devices</h1>
<div class="list-grid">
  <mat-card *ngFor="let device of deviceList" class="mat-elevation-z5">
    <mat-card-title>{{device.name}}</mat-card-title>
    <mat-divider></mat-divider>
    <br />
    <mat-card-content>
      <button mat-raised-button color="accent">
        Edit
      </button>
      <button mat-button color="warn" *ngIf="isAdmin()" (click)="delete(device.id)">
        Delete
      </button>

      <mat-chip-list class="tag" aria-label="">
        <mat-chip color="primary" selected>{{device.device_type.name}}</mat-chip>
      </mat-chip-list>

    </mat-card-content>

  </mat-card>
</div>
<button mat-fab color="primary" *ngIf="authenticated" class="new-btn" (click)="openDialog()">
  <i class="material-icons">note_add</i>
</button>
